extends layout

block content
  h1= title
  p I am Abhijeet Rana. I am full-time student of Computer Programming at Georgian College. I have a dream of becoming a great software engineer in his life.


